# ---------- Base de datos ----------
POSTGRES_USER=caa
POSTGRES_PASSWORD=caa_dev_pass
POSTGRES_DB=centro_academico
DATABASE_URL="postgresql://caa:caa_dev_pass@localhost:5432/centro_academico?schema=public"

# ---------- Almacenamiento (MinIO / S3) ----------
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123
S3_BUCKET=perfiles

# ---------- Autenticación ----------
BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL=http://localhost:3000